body {
	margin:0;
    .listagem {
    padding: 40px 0;
    background-color: #fff5e7;

    background-image:
        linear-gradient(rgba(190, 158, 100, 0.15) 1px, transparent 1px),
        linear-gradient(90deg, rgba(190, 148, 100, 0.15) 1px, transparent 1px);

    background-size: 15px 15px;
}
}
.topo {
	width:1366px;
	height:6px;
	background-image:url("images/topo.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.embaixo {
	width:1366px;
	height:4px;
	background-image:url("images/embaixo.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.BarraSup {
	height:100px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-image:url("images/BarraSup.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.espaco {
	margin-left:-200px;
}
.caixa-logoTitulo {
	display:flex;
	flex-direction:row;
}
.titulo {
	font-family:fantasy;
	color: rgb(255, 255, 255);
	font-size: clamp(0.65rem, 2.5vw, 0.9rem);
	letter-spacing: 0.10em;
	line-height: 1.8;
}
.logo {
	margin-top:10px;
	width:80px;
	height:80px;
	background-image:url("images/logo.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.barraPesquisa {
	margin-top:32px;
	margin-right:128px;
	border:2px solid grey;
	border-radius:30px;
	width:360px;
	height:30px;
	background-color:rgb(180, 128, 128);
}
.BarraInf {
	display:flex;
	flex-direction:row;
	background-image:url("images/BarraInf.svg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.botaoBarra {
	margin-left:100px;
	border:0;
	background:red;
	font-size:15px;
}
.botaoBarra {
	cursor:pointer;
    background-color: #fefff5;
    background-image:
        linear-gradient(#ff910011 1px, transparent 1px),
        linear-gradient(90deg, #ff910011 1px, transparent 1px);
    background-size: 15px 15px;
}
.listagem h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.pokemon-grid {
    width: 90vw;
    max-width: 1500px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.pokemon-card {
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.337);

    transition: transform 0.2s, box-shadow 0.2s;
}
.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.pokemon-card img {
    width: 120px;
    height: 120px;
}


.pokemon-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-nome {
    margin: 5px 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
}

.pokemon-types span {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

/* cores para cada tipo de Pokémon */
.tipo-fire {
    background-color: #f08030;
    color: white;
}
.tipo-water {
    background-color: #6890f0;
    color: white;
}

.tipo-grass {
    background-color: #78c850;
    color: white;
}

.tipo-poison {
    background-color: #a040a0;
    color: white;
}

.tipo-electric {
    background-color: #f8d030;
    color: black;
}

.tipo-flying {
    background-color: #a890f0;
    color: white;
}
.tipo-ghost {
    background-color: #808081;
    color: white;
}

.pokemon-add {
    margin-top: 10px;
    padding: 8px 50px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f63b3b;
    color: white;
}
.pokemon-add:hover {
    background-color: #eb2525;
}

.pokemon-numero {
    font-size: 14px;
    font-weight: bold;
    color: #777;
}

.pokemon-favorito {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
.pokemon-favorito:hover {
    transform: scale(1.1);
}